.product {
  /* vasakult paremale */
  display: flex;
  /* ruum kõikide vahele */
  justify-content: space-between;
}

.image {
  width: 100px;
  height: 100px;
}

.name {

}

.price {

}

.quantity {

}

.sum {

}

.button {

}